[Unit]
Description=MrCapucin gunicorn daemon
After=network.target

[Service]
User=mrcap
WorkingDirectory=/home/mrcap/mr_capuccin_bot
ExecStart=/home/mrcap/.cache/pypoetry/virtualenvs/capuccin-bot-7qdKsGep-py3.10/bin/gunicorn --access-logfile - --workers 3 --bind unix:/run/gunicorn.sock config.wsgi

[Install]
WantedBy=multi-user.target
